:root {
  --common-bg-color: #FFFFFF;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  }

body {
  background: var(--common-bg-color);
  color: var(--main-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(228, 228, 197);

  outline: 1px solid tomato;
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  
}

span {
  color: var(--accent-color) ;
}

/* Навигация */

.nav-list .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  }

.list, .project-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}

/* Контакты */

.email, 
.phonenumber {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
.phonenumber:hover,
.phonenumber:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  
}

/* Кнопки */
.hero .button {
  color: var(--common-bg-color);
  background: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background: var(--accent-color);
  color: var(--common-bg-color);
}

/* Особенности */

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  text-transform: uppercase;
  }

.list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.63;
}
/* Наша команда */

.team {
  background: #F5F4FA;
}
.team-list li {
  background: var(--common-bg-color);
}

/* Подвал */

footer .logo {
  color: #FFFFFF;
}
footer {
  background: #2F303A;
}

.address p {
  color: var(--common-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  }

  .address a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

  .address a:focus,
  .address a:hover {
    color: var(--accent-color);

  }


/* Портфолио */


.project-list .title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  }

.project-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}